<h2>Edit User Profile</h2>

<div class="container devise-form">


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false} , html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

       <%= f.input :username,
                hint: "leave it blank if you don't want to change it",
                required: false,
                disabled: false,
                input_html: { } %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

<div >
  <div >
    <span id="links">
      <%= f.button :submit, "Update",class: "btn-log" %>
    </span>
  </div>
  <% end %>
  <div>
    <span id="links" style="margin-top: 12px;margin-bottom: 20px;">
  <%= link_to "Back to home", "/", class: "btn btn-log" %>
    </span>
  </div>
</div>


</div>
