<h2>Contáctanos</h2>

<div class="container devise-form">

<%= simple_form_for(@contacto, url: contactos_path(@contacto), data: {turbo: false} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :email,
                required: false,
                input_html: { autocomplete: "email" } %>
    <%= f.input :text,
                as: :text,
                required: false,
                :input_html => { 'rows' => 5, 'cols' => 10 } %>
  </div>

  <div class="form-actions btn-log">
    <%= f.button :submit, "Send" %>
  </div>
<% end %>

</div>
