
<div id="display">
  <div class="vertical">
    <%= render "shared/vertical" %>
  </div>

  <div class="show-consultas">
    <h2>Consultas:  </h2>

        <% @consultations.each do | consultation|  %>

            <% civil_num = consultation.demandas.count { |element| element.tipo.match("civil") } %>
            <% laboral_num = consultation.demandas.count { |element| element.tipo.match("laboral") } %>
            <% cobranza_num = consultation.demandas.count { |element| element.tipo.match("cobranza") } %>

            <div class="card-trip">
              <div class="card-trip-infos">
                  <h3>  <%= consultation.nombre %>  </h3>
                  <h3> <%= consultation.rut %></h3>
                  <h3> <%= consultation.created_at %></h3>
                  <h3>Laboral: <%= laboral_num %></h3>
                  <h3>Civil: <%= civil_num %></h3>
                  <h3>Cobranza: <%= cobranza_num %></h3>
                  <span style="background-color: #ffc107">
                    <h3><%= link_to "Revisar", consultation_path(consultation) %></h3>
                  </span>

              </div>
            </div>

      <% end %>

  </div>

</div>
