
<div id="display">
  <div class="vertical">
    <%= render "shared/vertical" %>
  </div>

  <div class="show-consultas">
    <h2>Consultas:  </h2>

        <% @consultations.each do | consultation|  %>

            <% civil_num = consultation.demandas.count { |element| element.tipo.match("civil") } %>
            <% laboral_num = consultation.demandas.count { |element| element.tipo.match("laboral") } %>
            <% cobranza_num = consultation.demandas.count { |element| element.tipo.match("cobranza") } %>

            <div class="card-trip">
              <div class="card-trip-infos">
                  <h2>  <%= consultation.nombre %>  </h2>
                  <h2> <%= consultation.rut %></h2>
                  <h2>Laboral: <%= laboral_num %></h2>
                  <h2>Civil: <%= civil_num %></h2>
                  <h2>Cobranza: <%= cobranza_num %></h2>
                <div class="btn-card" >
                  <%= link_to "Revisar", consultation_path(consultation) %>
                </div>

              </div>
            </div>

      <% end %>

  </div>

</div>
