<div id="display">
  <div class="vertical">
    <%= render "shared/vertical" %>
  </div>

  <div class="container" style="margin-left: 5px; ">


  <% civil=  %>
  <% laboral= 'https://res.cloudinary.com/dp693fkkc/image/upload/v1668897236/AnFin/laboral_vzaujd.jpg'%>
  <% cobranza = 'https://res.cloudinary.com/dp693fkkc/image/upload/v1668897245/AnFin/cobranza_sfnsnn.jpg '%>



  <% @demandas.each do |demanda| %>

    <div class="card-product">

    <div class="card-product-infos" style="width: 400px;">
      <% if demanda.tipo.upcase == 'CIVIL'  %>
        <h1>Civil</h1>
      <% elsif demanda.tipo.upcase == 'LABORAL'  %>
        <h1>Laboral</h1>
      <% elsif demanda.tipo.upcase == 'COBRANZA'  %>
        <h1>Cobranza</h1>
      <% end %>
    </div>

    <div class="card-product-infos" style="width: 400px;">
      <h6><strong>Procedimiento:</strong> <%= demanda.proc %></h6>
      <h6><strong>Tribunal:</strong> <%=  demanda.tribunal %></h6>
      <h6><strong>Estado:</strong> <%= demanda.estado %></h6>

    </div>

    <div class="card-product-infos" style="width: 400px;">
      <h6><strong>Rol:</strong> <%= demanda.rol %> </h6>
      <h6><strong>Etapa: </strong><%= demanda.etapa %></h6>
      <h6><strong>Fecha ingreso: </strong><%=  demanda.fechaingreso.to_date %></h6>

    </div>

    <div id="options" data-controller="visibility">

      <div class="card-product-infos" style="width: 400px;" >
        <h3 data-visibility-target="hideable" hidden >Litigantes:</h3>
        <% demanda.litigantes.each do |litigante| %>
        <h6 data-visibility-target="hideable" hidden > <%= "#{litigante.nombre.upcase} -- #{ litigante.sujeto}"%> </h6>
        <% end %>
      </div>


      <div class="card-product-infos">
        <button data-action="visibility#toggleTargets"> <i class="fa-sharp fa-solid fa-eye"></i></button>
        <a class="btn-link" href="<%=  demanda.link %>" style="width: 220px;font-weight: bolder;font-family: 'DM Sans', sans-serif;font-size: 24px;text-decoration: none;padding-left: 50px;padding-right: 50px;margin-left: 0px;"> link</a>
      </div>

    </div>




    </div>








  <% end %>


  </div>

</div>
