<div class="container">
  <h1>Membresías</h1>

  <div class="row">
    <% @suscriptions.each do |suscription| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <h1> <i class="fa-solid fa-credit-card"></i></h1>
          <div class="card-body">
            <h5 class="card-title"><%= suscription.name %></h5>
            <p> <%= humanized_money_with_symbol(suscription.price) %> USD</p>
          </div>
        <div>
          <%= form_with url: orders_path do %>
          <%= hidden_field_tag 'suscription_id', suscription.id %>
          <%= submit_tag 'Pagar', class: 'btn btn-primary' %>
          <% end %>


        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
