<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Orden #<%= @order.id %> <small><span class="badge badge-primary"><strong> <%= @order.state %></span> </strong></small></h1>
      <ul class="list-unstyled">
        <li><strong>Fecha creación:</strong> <%= @order.created_at.to_date %></li>
        <li><strong>Tipo de Suscripción: </strong> <%= @order.suscription.name %> [<%= @order.suscription_sku %>]</li>
        <li><strong>TOTAL: </strong> <%= humanized_money_with_symbol @order.price_cents %></li>
        </li>
      </ul>
      <p>Estimated delivery in <strong>2 business days</strong></p>
    </div>
  </div>
</div>
