<!DOCTYPE html>
<html>
  <head>
    <title>Anfin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/bc8f5ce769.js" crossorigin="anonymous"></script>

    <link rel="icon" href="https://framerusercontent.com/sites/icons/default-favicon.v3.png">
   <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Space+Mono&display=swap" rel="stylesheet">
   <style>@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Space+Mono&display=swap');</style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>


  </head>

  <body>

    <%= render "shared/navbar" %>

    <%= render "shared/flashes" %>

    <%= yield %>


    <%= render "shared/footer" %>


  </body>
</html>
